.row{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: #5781C2;
  margin-right: 20px;
}

.button {
  width: 120px;
  height: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #5781C2;
  color: white;
  box-shadow: 2px 2px 5px #16314d98;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 4px 4px 8px #16314d63;
  background-color: #40558f;
}
